$title-color: red;

@font-face {
  font-family: 'Awesome';
  src: url('./fa-regular-400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.hello {
  color: $title-color;
  font-family: 'Awesome';
  background: url('../asset/icon.png');
}